html, body{
    background-color:#f7f7f7;
    color:#333333;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
}

@media screen and (max-width: 500px){

    .sidenav {padding-top: 15px;}

    .sidenav a {font-size: 18px;} 

    .glyphicon-menu-hamburger{font-size: 12px;}

    .logo img{max-width:275px;}

    .social{
        width: 100%;
        text-align:center;
    }

    .social ul {position: relative;}
    
    .social ul li {
        font-size: 15px;
        display: block;
    }

    #volunteerlist{font-size: 14px;}

    .carousel{
        min-height: 510px;
    }

    .carousel .item{
        min-height: 510px;
        margin-bottom: 60px;
        background-image: url("backgrounds/dark_embroidery.png");
        background-repeat: repeat;
    }

    .carousel-indicators{
        position:absolute;
        bottom: 0;
    }

    .volunteer-link{
        font-size: 15px;
        position: absolute;
        margin-bottom: 5%;
        left:15%;
        padding-bottom: 0;
        padding-right: 0;
    }

    .candidate-thumb{max-height: 200px;}

    iframe{
        width: 100%;
        height: 500px;
    }
}

/* Navigation */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.main-navbar-wrapper{
    line-height: 90px;
}

.navbar-header ul li {
    display: inline-block;
}

.logo img{
    max-height:80px;
}

.logo{
    max-height: 90px;
}

.logo img.bottom {
    vertical-align:text-bottom;
  }

#menu-toggle{
    margin-top: 5%;
}

.white, .white a {
  color: #fff;
  background-color: #222222;
  }

#volunteerlist {
  color:white;
}

#volunteerlist:hover{
  color:#DF6868;
}

.social {
    margin:0;
    display: table;
}

.social ul {
    margin: 0;
    padding: 1%;
}

.social ul li {
    margin: 0;
    list-style: none outside none;
    display: inline-block;
    vertical-align: middle;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: rgb(50,50,50);
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}


.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-github:hover {
    background: #5E2E7D;
}

.social .fa-instagram:hover{
    background: #964B00;
}

/* Footer */
.bottom-social{
    background: #222222;
    color: #fff;
    margin-top: 2%;
}

.social-us{
    width: 100%;
    padding-top: 1%;
}

.bottom-social i{
    color: #fff;
    font-size: 25px;
}

.bottom-social ul{
    margin-top: 1%;
    padding: 5px;
}

.bottom-social ul li {
    margin-right: 1%;
    margin-left: 1%;
    list-style: none outside none;
    display: inline-block;
}

.bottom-social i:hover{
    opacity: .75;  
}

.bottom-menu{
    font-size: 17px;
}

.bottom-menu li a{
    color:#fff;
}

.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1em;
}


/* Homepage */

.carousel{
  height: 500px;
  margin-bottom: 60px;
}

.logo-carousel img{width:500px;}

.slide-wrapper-first{
    margin-top: 3%;
}

.first{
    height: 400px;
    margin-bottom: 60px;
    background-image: url("logo_background.png");
}

#first_title{
    color: white;
}

#first_title:hover {
    text-decoration: underline;
}

.reg{
  height: 500px;
  margin-bottom: 60px;
  background-image: url("backgrounds/dark_embroidery.png");
  background-repeat: repeat;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.slide-content{
    color: white;
}

.slide-wrapper{
    margin-top: 8%;
}

.candidate-thumb{
    float: right;
    max-height: 300px;
}

.slide-image .candidate-thumb img{
    max-height: 290px;
}

.candidate-thumb-prof{
    height: 200px;
}

.slide-image-prof .candidate-thumb-prof img{
   height: 190px;
}

.letter-links ul li{
    display: inline-block;
}

.candidate-heading{
    padding-bottom: 4%;
}

.volunteer-link{
    font-size: 20px;
    position: absolute;
    bottom: 0; 
    right:0;
    padding-bottom: 3%;
    padding-right: 3%;
}


/* About */

.team img{
    width: 50%
}

.team-description{
    text-align: justify;
}

.about{
    text-align: justify;
    font-size: 15px;
}

.teamSocial{
    margin:0;
    padding-top: 2%;
}

.teamSocial i{
    width: 40px;
    height: 40px;
    color: #222222;
    background-color: #F7F7F7;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

/* Candidates */

.cover_photo{ 
    display: block;
    align: middle;
}

.cover_photo img{
    height: 278px;    
}

.cover_photo img:hover{
    opacity: 0.5;
}

#biography img{
    width:75%;
}

.candidate_social{
    background-image: url("backgrounds/stardust.png");
    background-repeat: repeat;
    color: #fff;
    margin-top: 1%;
    padding-bottom: 1%;
}

.btn-lg{
    margin-bottom: 1%;
}

/* Volunteer List */
.candidates{
    margin-top: 1%;
}

.candidate_list{
    width: 70%;
}

.candidate_list:hover{
    opacity: .75;
}